.search-box {
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 200px;
  height: 40px;
  line-height: 30px;
  margin: 30px 0;
  padding: 0.5rem 1rem;
}

.search-box:focus {
  outline: none;
}
